body {
    background-image: url("img_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

h1 {
    color: white;
    font-size: 44px;
}
h2{
    font-size: 30px;
}
p {
    color: white;
    font-size: 24px;
    text-align: justify;
}

header {
    background-color: black;
    height: 65px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}


main {
    height: 100%;
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    color: white;
}

section{
    position: relative;
    top: 75px;
    left: 105px;
    display: flex;
    
}

.text2 {
    position: relative;
    margin-left: 300px;
    margin-top: -50px;
    line-height: 2;
}




