body {
    background-image: url("img_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*Ajouter une barre de défilement  */
    overflow-y: scroll;
}

h1 {
    color: white;
    font-size: 40px;
}

h2 {
    font-size: 27px;
}

/*Descriptions des informations de text*/
p {
    color: white;
    font-size: 24px;
    text-align: justify;
    line-height: 2;
}

header {
    /*La bar de service*/
    background-color: black;
    height: 65px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

table {
    width: 100%;
    text-align: center;
}

th {
    padding: 10px;
}
.introduction{
    margin-left: 30px;
}
label{
    color: white;
    font-size: 24px;
}
input{
    background-color: rgb(180, 178, 178);
}

.case1{
    width: 700px;
    height: 26px;
}
.case2{
    width: 700px;
    height: 26px;
}
.case3{
    width: 250px;
    height: 26px;
}
.case4{
    margin-left: 60px;
}
.case5{
    margin-left: 10px;
    width: 200px;
    height: 26px;
}
.case6{
    width: 700px;
    height: 26px;
}
.case7{
    width: 700px;
    height: 26px;
}
.genre {
    display: flex;
    gap: 10px;
}
.form{
    margin-left: 30px;
}
.cote{
    margin-left: 875px;
    margin-top: -800px;
}
textarea{
    background-color: rgb(180, 178, 178);
    width: 700px;
    height: 250px;
}
.sub{
    margin-left: 875px;
    width: 120px;
    height: 35px;
    background-color: rgb(48, 47, 47);
    color: white;
    font-size: 18px;
}
.cote2{
    margin-left: 907px;
}