.page-d-accueil {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .page-d-accueil .composante {
    position: absolute;
    width: 1440px;
    height: 105px;
    top: 0;
    left: 0;
  }
 
  .page-d-accueil .groupe_superpose {
    position: relative;
    height: 3101px;
    background-image: url(./img/image-13.png);
    background-size: cover;
    background-position: 50% 50%;
  }
 
  .page-d-accueil .Contact {
    position: absolute;
    width: 174px;
    top: 34px;
    left: 322px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
 
  .page-d-accueil .A_propos {
    position: absolute;
    width: 181px;
    top: 34px;
    left: 620px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
 
  .page-d-accueil .image_warhammer {
    position: absolute;
    width: 111px;
    height: 105px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
 
  .page-d-accueil .Les_races {
    width: 192px;
    top: 34px;
    left: 925px;
    font-family: "Inter-Regular", Helvetica;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
 
  .page-d-accueil .superposition {
    position: absolute;
    width: 1458px;
    height: 1760px;
    top: 1306px;
    left: -9px;
  }
 
  .page-d-accueil .superposition_2 {
    position: absolute;
    width: 1458px;
    height: 1760px;
    top: 0;
    left: 0;
  }
 
  .page-d-accueil .Noir {
    position: absolute;
    width: 1458px;
    height: 35px;
    top: 437px;
    left: 0;
  }
 
  .page-d-accueil .superposition_3 {
    position: relative;
    height: 1849px;
    top: -491px;
  }
 
  .page-d-accueil .Noir_1 {
    position: absolute;
    width: 35px;
    height: 1458px;
    top: -221px;
    left: 712px;
    background-color: #000000;
    transform: rotate(-90deg);
  }
 
  .page-d-accueil .Noir_2 {
    position: absolute;
    width: 35px;
    height: 1455px;
    top: 197px;
    left: 713px;
    background-color: #000000;
    transform: rotate(-90deg);
  }
 
  .page-d-accueil .Noir_3 {
    position: absolute;
    width: 35px;
    height: 1814px;
    top: 0;
    left: 712px;
    background-color: #000000;
  }
 
  .page-d-accueil .Noir_4 {
    position: absolute;
    width: 35px;
    height: 1440px;
    top: -642px;
    left: 712px;
    background-color: #000000;
    transform: rotate(-90deg);
  }
 
  .page-d-accueil .Noir_5 {
    position: absolute;
    width: 35px;
    height: 1440px;
    top: 1112px;
    left: 720px;
    background-color: #000000;
    transform: rotate(-90deg);
  }
 
  .page-d-accueil .Img_noir {
    position: absolute;
    width: 1440px;
    height: 35px;
    top: 1318px;
    left: 9px;
  }
 
  .page-d-accueil .p {
    position: absolute;
    top: 0;
    left: 861px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
 
  .page-d-accueil .Les_taus {
    top: 852px;
    left: 1039px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    text-align: center;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
 
  .page-d-accueil .Craftworld_eldar_image {
    position: absolute;
    width: 702px;
    height: 397px;
    top: 41px;
    left: 747px;
    object-fit: cover;
  }
 
  .page-d-accueil .Necron_image {
    position: absolute;
    width: 702px;
    height: 381px;
    top: 472px;
    left: 747px;
    object-fit: cover;
  }
 
  .page-d-accueil .Tau_image {
    position: absolute;
    width: 702px;
    height: 377px;
    top: 888px;
    left: 747px;
    object-fit: cover;
  }
 
  .page-d-accueil .Tyranid_image {
    position: absolute;
    width: 702px;
    height: 461px;
    top: 1299px;
    left: 747px;
    object-fit: cover;
  }
 
  .page-d-accueil .Chao_image {
    position: absolute;
    width: 703px;
    height: 377px;
    top: 888px;
    left: 9px;
    object-fit: cover;
  }
 
  .page-d-accueil .Eldar_noir_logo {
    position: absolute;
    width: 703px;
    height: 381px;
    top: 472px;
    left: 9px;
    object-fit: cover;
  }
 
  .page-d-accueil .imperium {
    position: absolute;
    top: 0;
    left: 274px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
 
  .page-d-accueil .Les_eldars_noirs {
    position: absolute;
    top: 436px;
    left: 247px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
 
  .page-d-accueil .Imperium_image {
    position: absolute;
    width: 703px;
    height: 396px;
    top: 41px;
    left: 9px;
    object-fit: cover;
  }
 
  .page-d-accueil .Craftworld_eldar_logo {
    position: absolute;
    width: 280px;
    height: 319px;
    top: 79px;
    left: 963px;
    object-fit: cover;
  }
 
  .page-d-accueil .Les_necrons {
    top: 436px;
    left: 1011px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    text-align: center;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
 
  .page-d-accueil .Le_chao {
    position: absolute;
    top: 852px;
    left: 251px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
 
  .page-d-accueil .Les_peaux_vertes {
    position: absolute;
    top: 1256px;
    left: 242px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
 
  .page-d-accueil .Les_tyranides {
    top: 1259px;
    left: 1005px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    text-align: center;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
 
  .page-d-accueil .Imperium_logo {
    position: absolute;
    width: 533px;
    height: 217px;
    top: 131px;
    left: 95px;
    object-fit: cover;
  }
 
  .page-d-accueil .Necron_logo {
    position: absolute;
    width: 243px;
    height: 288px;
    top: 522px;
    left: 981px;
    object-fit: cover;
  }
 
  .page-d-accueil .Eldar_noir_logo {
    position: absolute;
    width: 274px;
    height: 327px;
    top: 502px;
    left: 217px;
    object-fit: cover;
  }
 
  .page-d-accueil .Tau_logo {
    position: absolute;
    width: 225px;
    height: 224px;
    top: 962px;
    left: 981px;
    object-fit: cover;
  }
 
  .page-d-accueil .Tyranid_logo {
    position: absolute;
    width: 280px;
    height: 271px;
    top: 1380px;
    left: 944px;
    object-fit: cover;
  }
 
  .page-d-accueil .Chao_logo {
    position: absolute;
    width: 240px;
    height: 240px;
    top: 939px;
    left: 236px;
    object-fit: cover;
  }
 
  .page-d-accueil .Superposition_4 {
    position: absolute;
    width: 703px;
    height: 461px;
    top: 1299px;
    left: 9px;
  }
 
  .page-d-accueil .Peaux_vertes_image {
    position: absolute;
    width: 703px;
    height: 461px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
 
  .page-d-accueil .Peaux_vertes_logo {
    position: absolute;
    width: 274px;
    height: 292px;
    top: 68px;
    left: 208px;
    object-fit: cover;
  }
 
  .page-d-accueil .Warhammer_wrap {
    position: absolute;
    width: 1397px;
    height: 339px;
    top: 293px;
    left: 25px;
    background-color: #d9d9d9;
    border-radius: 54px;
  }
 
  .page-d-accueil .Warhammer {
    position: absolute;
    width: 1375px;
    top: 42px;
    left: 19px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
 
  .page-d-accueil .Map_galaxie {
    position: absolute;
    width: 920px;
    height: 560px;
    top: 692px;
    left: 263px;
    object-fit: cover;
  }
 
  .page-d-accueil .Image_galaxie {
    position: absolute;
    top: 644px;
    left: 367px;
    font-family: "Abhaya Libre-Bold", Helvetica;
    font-weight: 700;
    color: #fffafa;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
 
  .page-d-accueil .Logo_warhammer {
    position: absolute;
    width: 829px;
    height: 162px;
    top: 118px;
    left: 305px;
    object-fit: cover;
  }
