body {
    background-image: url("img_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*Ajouter une barre de défilement  */
    overflow-y: scroll;
    font-family: "Abhaya Libre";
}

h1 {
    color: white;
    font-size: 40px;
}

h2 {
    font-size: 27px;
}

/*Descriptions des informations de text*/
p {
    color: white;
    font-size: 24px;
    text-align: justify;
    line-height: 2;
}

header a {
    color: white;
    text-decoration: none;
}

header {
    /*La bar de service*/
    background-color: black;
    height: 65px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

table {
    width: 100%;
    text-align: center;
}

th {
    padding: 10px;
    font-size: 40px;
}

.introduction {
    margin-left: 30px;
}

label {
    color: white;
    font-size: 24px;
}

input {
    background-color: rgb(180, 178, 178);
}

/*Pour des asterisque rouge*/
.asterisque::after {
    content: '*';
    color: red;
    margin-left: 4px;
    font-size: 20px;
}

/*Modifier le wdith et height des case de réponse*/
.case1 {
    width: 700px;
    height: 26px;
}

.case2 {
    width: 700px;
    height: 26px;
}

.case3 {
    width: 250px;
    height: 26px;
}

.case4 {
    margin-left: 60px;
}

.case5 {
    margin-left: 10px;
    width: 200px;
    height: 26px;
}

.case6 {
    width: 700px;
    height: 26px;
}

.case7 {
    width: 700px;
    height: 26px;
}

.genre {
    display: flex;
    gap: 10px;
}

.form {
    margin-left: 30px;
}

.cote {
    margin-left: 875px;
    margin-top: -800px;
}

/*case pour questions / demandes*/
textarea {
    background-color: rgb(180, 178, 178);
    width: 700px;
    height: 250px;
}

/*Button envoyer*/
.sub {
    margin-left: 875px;
    width: 120px;
    height: 35px;
    background-color: rgb(48, 47, 47);
    color: white;
    font-size: 18px;
}

.cote2 {
    margin-left: 907px;

    /*Modifier les icons*/
}

.fa-brands.fa-twitter {
    font-size: 50px;
    color: black;
}

.fa-brands.fa-facebook {
    font-size: 50px;
    margin-left: 50px;
    color: black;
}

.fa-brands.fa-square-instagram {
    font-size: 55px;
    margin-left: 50px;
    color: black;
}

.fa-brands.fa-youtube {
    font-size: 55px;
    margin-left: 50px;
    color: black;
}

.fa-solid.fa-globe {
    font-size: 50px;
    margin-left: 50px;
    color: black;
}

.fa-solid.fa-envelope {
    font-size: 50px;
    margin-left: 50px;
    color: black;
}