.les_races {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .les_races .wrap_superposition {
    background-color: #ffffff;
    width: 1440px;
    height: 5510px;
  }
  
  .les_races .Background {
    position: relative;
    height: 5510px;
    background-image: url("img/Background.png");
    background-size: cover;
    background-position: 50% 50%;
  }
  .les_races .wrap_text {
    position: absolute;
    top: 4488px;
    left: 98px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 96px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  .les-races .component {
    position: absolute;
    width: 1440px;
    height: 105px;
    top: 0;
    left: 0;
    background-image: url("Barre_d\'accueil.png");
    background-size: 100% 100%;
  }
  
  .les-races .div {
    position: absolute;
    width: 174px;
    top: 34px;
    left: 322px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .les-races .text-wrapper-2 {
    position: absolute;
    width: 181px;
    top: 34px;
    left: 620px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .les-races .war-hammer-image {
    position: absolute;
    width: 111px;
    height: 105px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .les-races .text-wrapper-3 {
    width: 192px;
    top: 34px;
    left: 925px;
    font-family: "Inter", Helvetica;
    font-size: 36px;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

  
  .les_races .warhammer_image {
    position: absolute;
    width: 111px;
    height: 105px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  
  
  .les_races .superposition {
    position: absolute;
    width: 1440px;
    height: 4336px;
    top: 111px;
    left: 0;
  }
  
  .les_races .superposition_2 {
    position: absolute;
    width: 1440px;
    height: 3884px;
    top: 452px;
    left: 0;
  }
  
  .les_races .noir {
    position: absolute;
    width: 1458px;
    height: 35px;
    top: 32px;
    left: 0;
  }
  .les_races .noir1 {
    position: absolute;
    width: 1458px;
    height: 35px;
    top: 350px;
    left: 0;
  }.les_races .noir2 {
    position: absolute;
    width: 1458px;
    height: 35px;
    top: 657px;
    left: 0;
  }.les_races .noir3 {
    position: absolute;
    width: 1458px;
    height: 35px;
    top: 877px;
    left: 0;
  }.les_races .noir4 {
    position: absolute;
    width: 1458px;
    height: 35px;
    top: 1089px;
    left: 0;
  }.les_races .noir5 {
    position: absolute;
    width: 1458px;
    height: 35px;
    top: 1359px;
    left: 0;
  }.les_races .noir6 {
    position: absolute;
    width: 1458px;
    height: 1559px;
    top: 32px;
    left: 0;
  }.les_races .noir7 {
    position: absolute;
    width: 1458px;
    height: 35px;
    top:  2215px;
    left: 0;
  }

.les_races .noir8 {
  position: absolute;
  width: 1468px;
  height: 40px;
  top: 32px;
  left: 0;
  
} 

  .les_races .Imperium_de_l_humanite {
    position: absolute;
    width: 1235px;
    top: 32px;
    text-align: center;
    left: 98px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 
  .les_races .Taus {
    position: absolute;
    width: 1235px;
    top: 350px;
    text-align: center;
    left: 98px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .les_races .Craftworld_eldar {
    position: absolute;
    width: 1253px;
    top: 657px;
    text-align: center;
    left: 98px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
 
  .les_races .Necrons {
    position: absolute;
    width: 1259px;
    top: 877px;
    left: 86px;
    text-align: center;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }

  .les_races .Eldars_noirs {
    position: absolute;
    width: 1269px;
    top: 1089px;
    text-align: center;
    left: 88px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
 
  .les_races .Peaux_vertes {
    position: absolute;
    width: 1270px;
    top: 1359px;
    text-align: center;
    left: 88px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
 
  .les_races .Tyranides {
    position: absolute;
    width: 1269px;
    top: 1559px;
    left: 83px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
  }

  .les_races .Chao {
    position: absolute;
    text-align: center;
    width: 1259px;
    top: 1793px;
    left: 83px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .les_races .Slaanesh {
    position: absolute;
    top:  2385px;
    left: 1014px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .les_races .nurgle_image {
    position: absolute;
    width: 700px;
    height: 767px;
    top: 2258px;
    left: 0;
    object-fit: cover;
  }
  
  .les_races .Nurgle {
    position: absolute;
    top: 2216px;
    left: 300px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .les_races .khorne_image {
    position: absolute;
    width: 740px;
    height: 767px;
    top: 2258px;
    left: 700px;
    object-fit: cover;
  }
  
  .les_races .Khorne {
    position: absolute;
    top: 2215px;
    left: 1014px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .les_races .tzeentch_image {
    position: absolute;
    width: 700px;
    height: 803px;
    top: 3025px;
    left: 0;
    object-fit: cover;
  }
  
  .les_races .Tzeentch {
    position: absolute;
    top: 2985px;
    left: 283px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .les_races .slaanesh_image {
    position: absolute;
    width: 733px;
    height: 800px;
    top: 3028px;
    left: 707px;
    object-fit: cover;
  }
  
  .les_races.wrap_text_17 {
    position: absolute;
    top: 2982px;
    left: 1003px;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .les_races .logo_chao_unifie {
    position: absolute;
    width: 259px;
    height: 276px;
    top: 2866px;
    left: 586px;
    object-fit: cover;
  }
  
  .les_races .logo_khorne {
    position: absolute;
    width: 273px;
    height: 284px;
    top: 2251px;
    left: 1167px;
    object-fit: cover;
  }
  
  .les_races .logo_nurgle {
    width: 283px;
    height: 278px;
    top: 2271px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .les_races .logo_tzeentch {
    width: 287px;
    height: 304px;
    top: 3580px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .les_races .logo_slaanesh {
    width: 267px;
    height: 262px;
    top: 3580px;
    left: 1142px;
    position: absolute;
    object-fit: cover;
  }
  
  .les_races .Mechanicus_symbole {
    position: absolute;
    width: 292px;
    height: 289px;
    top: 0;
    left: 579px;
    object-fit: cover;
  }
  
  .les_races .superposition_3 {
    position: absolute;
    width: 845px;
    height: 453px;
    top: 0;
    left: 577px;
  }
  
  .les_races .wrap_text_18 {
    top: 329px;
    left: 0;
    font-family: "Abhaya Libre-Regular", Helvetica;
    font-size: 64px;
    text-align: center;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .les_races .races_images {
    position: absolute;
    width: 551px;
    height: 453px;
    top: 0;
    left: 294px;
    object-fit: cover;
  }
  
  .les_races .Sceau_de_purete {
    position: absolute;
    width: 551px;
    height: 453px;
    top: 0;
    left: 26px;
    object-fit: cover;
  }
  .les_races .Sceau_de_purete1 {
    position: absolute;
    width: 551px;
    height: 453px;
    top: 0;
    right: 26px;
    object-fit: cover;

    
  }  
  .les_races .video {
    position: absolute;
    width: 360px;
    height: 328px;
    top: 4700px;
    left: 429px;
    object-fit: cover;
    align-items: center;
  }
  
  .les_races .play-button-circled {
    position: absolute;
    width: 360px;
    height: 328px;
    top: 4700px;
    left: 429px;
    object-fit: cover;
    align-items: center;
  }